.imgtop {
    background-color: #000000a6;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
  
    justify-content: center;
    align-items: center;
    @media (max-width: 500px) {
      background-image: url("/images/2cdca72935a8275095bd2c184c50480e.png");
      height: 60vh;
    }
  
    @media (min-width: 500px) {
      background-image: url("/images/2cdca72935a8275095bd2c184c50480e.png");
      height: 110vh;
      
    }
    div {
      .linha {
        width: 70px;
      }
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  
  .logo {
    width: 300px;
  
    @media (max-width: 500px) {
      width: 300px;
    }
  }
  
  .conteudo {
    text-decoration: none;
    color: rgb(4, 4, 4);
  
    @media (max-width: 500px) {
      h1 {
        margin-top: 20px;
        font-size: 25px;
        font-weight: 700;
        line-height: 100%;
      }
    }
  
    @media (min-width: 500px) {
      h1 {
        margin-top: 20px;
        font-size: 50px;
        font-weight: 700;
        line-height: 100%;
        
      }
    }
  
    @media (min-width: 500px) {
      p {
        margin-top: 20px;
        font-size: 18px;
        font-weight: 500;
        color: #4E4E4E;
        text-align: justify;
        margin-bottom: 20px;
      }
    }
  
    @media (max-width: 500px) {
      p {
        margin-top: 20px;
        font-size: 12px;
        font-weight: 400;
        color: #4E4E4E;
        text-align: justify;
        margin-bottom: 20px;
      }
    }
  }

  
.conteudo {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: column;
  
  @media (min-width: 600px) {
      max-width: 1366px;
      padding: 24px;
  }

  @media (max-width: 600px) {
      width: 80%
  }
}

.first{
  margin-top: 50px;
}
.text1 {
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .linha {
    @media (max-width: 600px) {
      margin-top: 30px;
      background-color: #6a6a6a;
      width: 60px;
      height: 4px;
  }
  @media (min-width: 600px) {
    margin-top: 30px;
    background-color: #6a6a6a;
    width: 120px;
    height: 6px;
}
 
  }
  h1 {
    margin-top: 8px;
    text-align: center;
    line-height: 100%;
    color: #6a6a6a;
    font-family: "Poppins";
    font-weight: 800;
  }
  @media (max-width: 500px) {
    h1 {
      font-size: 28.26px;
    }
  }
  @media (min-width: 500px) {
    h1 {
      font-size: 32.26px;
    }
  }
}
.linh2 {
  @media (max-width: 600px) {
    margin-top: 30px;
    background-color: #6a6a6a;
    width: 80px;
    height: 4px;
}
@media (min-width: 600px) {
  margin-top: 30px;
  background-color: #6a6a6a;
  width: 160px;
  height: 8px;
}
}