.imgtop {
  background-color: #000000a6;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 500px) {
    background-image: url("/images/bg/bannermobile.png");
    height: 60vh;
  }

  @media (min-width: 500px) {
    background-image: url("/images/Banner RR Desktop.png");
    height: 90vh;
  }
  div {
    .linha {
      width: 70px;
    }
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

.logo {
  width: 300px;

  @media (max-width: 500px) {
    width: 200px;
  }
}

.conteudo {
  text-decoration: none;
  color: white;

  @media (max-width: 500px) {
    h1 {
      margin-top: 20px;
      font-size: 25px;
      font-weight: 700;
      line-height: 100%;
    }
  }

  @media (min-width: 500px) {
    h1 {
      margin-top: 20px;
      font-size: 50px;
      font-weight: 700;
      line-height: 100%;
    }
  }

  @media (min-width: 500px) {
    p {
      margin-top: 20px;
      font-size: 20px;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.705);
    }
  }

  @media (max-width: 500px) {
    p {
      margin-top: 20px;
      font-size: 12px;
      font-weight: 400;
      color: #ffffff;
    }
  }
}

.linha {
  background-color: #fff;
  width: 70px;
  height: 4px;
}

.imgtop1 {
  @media (max-width: 500px) {
    display: flex;
    background-color: black;
    width: 100%;
    height: 420px;
  }

  @media (min-width: 500px) {
    display: flex;
    background-color: black;
    width: 100%;
    height: 800px;
  }

  display: flex;
  background-color: black;
  width: 100%;
  height: 800px;
}

.lista {
  @media (max-width: 500px) {
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 150px;
    justify-content: center;
  }

  @media (min-width: 500px) {
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
    justify-content: center;
  }
}

.iframes {
  @media (max-width: 500px) {
    width: 300px;
    height: 300px;
    margin-bottom: 40px;
  }

  margin-top: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  width: 1100px;
  max-width: 100%;
  height: 500px;
  margin-right: 20px;
  border: #000000;
}

.iframes:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.linha2 {
  margin-top: 20px;
  width: 250px;
  border: 4px solid rgb(255, 255, 255);
}

.titulo2 {
  width: 80%;
  margin: 0 auto;
  align-items: left;
  display: flex;
  flex-direction: column;
  text-decoration: colo;
  color: white;

  @media (max-width: 500px) {
    h1 {
      margin-top: 20px;
      font-size: 40px;
      font-weight: 900;
      line-height: 100%;
    }
  }

  @media (min-width: 500px) {
    h1 {
      margin-top: 20px;
      font-size: 55px;
      font-weight: 900;
      line-height: 100%;
    }
  }

  align-items: center;
  flex-direction: column;
  display: flex;

  p {
    margin-top: 30px;
  }
}

.container {
  background-color: black;
  width: 100%;
  display: flex;

  .conteudo2 {
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    align-items: left;
    display: flex;
    color: white;

    @media (max-width: 500px) {
      flex-direction: column;

      h1 {
        margin-top: 20px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 20.6873px;
        line-height: 22px;
        text-align: center;
        color: #ffffff;
      }
    }

    @media (min-width: 500px) {
      flex-direction: column;

      h1 {
        margin-top: 20px;
        font-size: 50px;
        font-weight: 700;
        line-height: 100%;
      }
    }

    @media (min-width: 500px) {
      p {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.705);
      }
    }

    @media (max-width: 500px) {
      p {
        text-align: justify;
        align-items: center;
        margin-top: 20px;
        font-size: 12px;
        font-weight: 400;
        color: #ffffff;
      }
    }
  }
}

.cards2 {
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  @media (max-width: 800px) {
    justify-content: space-between;
  }
  @media (min-width: 800px) {
    overflow: hidden;
  }
  max-width: 1366px;
  margin: 0 auto;
  overflow-y: scroll;
  padding: 24px;
}

.containercard {
  flex-wrap: wrap;
  background-color: #fff;
  margin-right: 30px;

  flex-direction: column;
  min-width: 300px;
  width: 250px;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  transition: all 0.3s ease-out;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    div {
      display: flex;
      flex-direction: column;
    }
    h6 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 300;
      margin-top: 8px;
      font-size: 14px;
      line-height: 90%;
      color: #232323;
    }
  }
  h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 90%;
    color: #232323;
  }
  p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;

    text-align: justify;

    color: #232323;
  }
}
.containercard:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.imguser {
  width: 117px;
  height: 109px;
  border-radius: 4px;
  margin-right: 15px;
  margin-top: 20px;
}

.cardContent {
  padding: 8px;

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 12px;
  }

  align-items: center;
  flex-direction: column;
  display: flex;

  margin-bottom: 0.5rem;
}
